* {
   margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
}

header {
    top: 0;
    width: 100%;
    position: sticky;
    overflow: hidden;
    
}

/*------ Mobile Styling ------*/

.page_nav {
    background-image: linear-gradient(to bottom right, rgb(146, 24, 24) , rgb(100, 0, 0));
}

.logo_img {
    height: 50px;
    width: 50px;
    padding: 5px;
    opacity: 0.8;
}

.main_nav_toggle {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    top: 10px;
    right: 20px;
    font-size: 1.75rem;
}

.main_nav {
    display: none;
    list-style-type: none;
    min-height: 100vh;
}

.main_nav li {
    text-align: left;
    margin: 15px auto;
    padding: 0px 5px;
}

.nav_item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.9rem;
}

.sub_nav {
    display: none;
    list-style-type: none;
}

.sub_nav li {
    color: grey;
    font-size: 0.9em;
}

li a {
    text-decoration: none;
    color: grey;
    font-size: 1em;
}

/*------ Main section styling ------*/

.page_title {
    padding: 15px 0px;
    font-size: 1.5rem;
    text-align: center;
}

.teaser_section_title {
    font-size: 1.25rem;
    text-align: center;
}

.article_title {
    font-size: 1rem;
    text-align: center;
}

.main_content {
    display: block;
}

.article_teaser {
    padding: 20px 0px;
}


/*------ Desktop Styling ------*/

@media only screen and (min-width: 950px) {

    .main_nav_toggle {
        display: none;
    }

    .logo_img {
        height: 75px;
        width: 75px;
    }

    .main_nav {
        display: flex;
        flex-direction: row;
        min-height: 75px;
        align-items: center;
    }

    .page_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_item,
    .nav_item i {
        padding-right: 30px;
    }

    .main_content {
        max-width: 80vw;
    }

}

